.app__main__mainView {
    background-color: #000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    overflow: hidden;
}

.app__main__mainTitle {
    position: absolute;
    left: 15%;
    top: 32%;
}

.app__main__mainTitle p:nth-child(1),
.app__main__mainTitle p:nth-child(2) {
    font-size: 4rem;
    line-height: 115%;
}

.app__main__mainTitle p:nth-child(2) {
    font-weight: bold;
}

.app__main__mainTitle p:nth-child(3) {
    margin: 50px auto 70px;
    font-size: 2rem;
}

/*.app__main__mainTitle_bold {*/

/*}*/

.app__main__nextSlidePage {
    position: absolute;
    right: 15%;
    top: 42%;
    color: #fff;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: transparent;
    border: 4px solid #fff;
    outline: none;
}

.app__main__nextSlidePage:hover,
.app__main__languageToggle:hover,
.app__main__EggsPage:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.app__main__nextSlidePage_nextSlidePageArrow {
    border: solid #fff;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 6px;
    margin: 5px 5px 0 0;
    transform: rotate(-45deg);
}

.app__main__languageToggle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #fff;
    outline: none;
    color: #fff;
}

.app__main__EggsPage {
    position: absolute;
    left: 48%;
    bottom: 3%;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.1);
    outline: none;
    animation: circle 3s infinite;
}

.app__main__EggsPage_nextPageArrow {
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
    margin-bottom: 9px;
    transform: rotate(45deg);
    animation: arrow 3s infinite;
}

@keyframes arrow {
    to {
        transform: translateY(50%) rotate(45deg);
        opacity: 0;
    }
}

@keyframes circle {
    to {
        opacity: 0;
    }
}