font-face {
  font-family: "PF Agora Sans Pro";
  src: url("../fonts/PFAgoraSansPro-Medium.ttf");
  font-style: normal;
  font-weight: 700;
}
font-face {
  font-family: "PF Agora Sans Pro";
  src: url("../fonts/PFAgoraSansPro-Light.ttf");
  font-style: normal;
  font-weight: 500;
}
font-face {
  font-family: "PF Agora Sans Pro";
  src: url("../fonts/PFAgoraSansPro-Thin.ttf");
  font-style: normal;
  font-weight: 300;
}
