/* media < 1200 */
@media screen and (max-width: 1200px)
  //.mainImg
  //  height 100vh


/* media < 900 */
@media screen and (max-width: 900px)
  //.mainImg
  //  height 100vh


/* media < 600 */
@media screen and (max-width: 600px)
  //.mainImg
  //  width 100vh