playBtnIcon = '../../media/icons/playBtn.svg'
pauseBtnIcon = '../../media/icons/pauseBtn.svg'

.wrapper
  display: flex;
  justify-content: center;

.playBtn
  background url(playBtnIcon) no-repeat center
  width 50px
  height 50px

.pauseBtn
  background url(pauseBtnIcon) no-repeat center
  width 50px
  height 50px