.wrapper {
  display: flex;
  justify-content: center;
}
.playBtn {
  background: url("../../media/icons/playBtn.svg") no-repeat center;
  width: 75px;
  height: 75px;
}
.pauseBtn {
  background: url("../../media/icons/pauseBtn.svg") no-repeat center;
  width: 75px;
  height: 75px;
}
