body, p, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}

.App {
    font-family: "PF Agora Sans Pro", 'Helvetica Neue', sans-serif;
    font-size: calc(0.5rem + 2vmin);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    user-select: none;
}