colorWhite = #fff
boxShadowRight = 0 0 0 1px rgba(0,0,0,0.05), -3px 0 2px rgba(1,1,1,0.3)
boxShadowLeft = 0 0 0 1px rgba(0,0,0,0.05), 3px 0 2px rgba(1,1,1,0.3)
backgroundColor = rgba(0,0,0,0.2)
backgroundColorActive = rgba(0,0,0, 0.4)


.prevSlidePageLeft
  position fixed
  left -25px
  top 45%
  color colorWhite
  width 50px
  height 50px
  border-radius 50%
  background-color backgroundColor
  border 3px solid colorWhite
  outline none
  box-shadow boxShadowLeft
  &:hover
    background-color backgroundColorActive

.prevSlidePageArrowLeft
  border solid colorWhite
  border-width 0 3px 3px 0
  display inline-block
  padding 4px
  margin-left 22px
  transform rotate(135deg)


.nextSlidePageRight
  position fixed
  right -23px
  top 45%
  color colorWhite
  width 50px
  height 50px
  border-radius 50%
  background-color backgroundColor
  border 3px solid colorWhite
  outline none
  box-shadow boxShadowRight
  &:hover
    background-color backgroundColorActive

.nextSlidePageArrowRight
  border solid colorWhite
  border-width 0 3px 3px 0
  display inline-block
  padding 4px
  transform rotate(-45deg)
  margin-right 25px
