colorWhite = #fff
boxShadowRight = 0 0 0 1px rgba(0,0,0,0.05), -3px 0 2px rgba(1,1,1,0.3)
boxShadowLeft = 0 0 0 1px rgba(0,0,0,0.05), 3px 0 2px rgba(1,1,1,0.3)
backgroundColor = rgba(0,0,0,0.2)
backgroundColorActive = rgba(0,0,0, 0.4)


.app__slider__prevSlidePageLeft, .app__slider__nextSlidePageRight
  position fixed
  top 45%
  color colorWhite
  width 60px
  height 60px
  border-radius 50%
  background-color backgroundColor
  border 3px solid colorWhite
  outline none
  box-shadow boxShadowLeft
  &:hover
    background-color backgroundColorActive

.app__slider_prevSlidePageArrowLeft, .app__slider_nextSlidePageArrowRight
  border solid colorWhite
  border-width 0 3px 3px 0
  display inline-block
  padding 4px

.app__slider__prevSlidePageLeft
  left -30px

.app__slider__nextSlidePageRight
  right -30px

.app__slider_prevSlidePageArrowLeft
  margin-left 30px
  transform rotate(135deg)

.app__slider_nextSlidePageArrowRight
  transform rotate(-45deg)
  margin-right 30px
