.app__slider__prevSlidePageLeft,
.app__slider__nextSlidePageRight {
    position: fixed;
    top: 45%;
    color: #fff;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: rgba(0, 0, 0, 0.1);
    outline: none;
}

.app__slider__prevSlidePageLeft {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px 5px rgba(1, 1, 1, 0.5);
}

.app__slider__nextSlidePageRight {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px 5px rgba(1, 1, 1, 0.5);
}

.app__slider__prevSlidePageLeft:hover,
.app__slider__nextSlidePageRight:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.app__slider_prevSlidePageArrowLeft,
.app__slider_nextSlidePageArrowRight {
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
}

.app__slider__prevSlidePageLeft {
    /* left: -30px; */
    left: 1%;
}

.app__slider__nextSlidePageRight {
    /* left: 67.8%; */
    right: 31%;
}

.app__slider_prevSlidePageArrowLeft {
    /* margin-left: 30px; */
    margin-left: 3px;
    transform: rotate(135deg);
}

.app__slider_nextSlidePageArrowRight {
    transform: rotate(-45deg);
    /* margin-right: 30px; */
    margin-right: 5px;
}
